  html {
    background: #F3F2EE;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-bottom: 4vh;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    margin-top: 5vh;
    font-family: monospace;
    color: #7C7C81;
    /* color: black; */
  }

/* Main content and navigation: */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 9fr 1.5fr;
    height: 100vh;
    grid-gap: 10px;
    grid-template-areas: 
    "menu-area text-area branding-area"
    "...       footer    ...";
  }
  
  .menu {
    grid-area: menu-area;
    writing-mode: vertical-lr;
    margin-left: 10%;
    font-size: 1.5rem;
    color: rgba(124, 124, 129, 0.5);
  }

  .menu a {
    text-decoration: none;
    color: rgba(124, 124, 129, 0.5);
    /* color: #7C7C81;
    opacity: 50%; */
  }

  #active-page {
    color: #B450B0;
    opacity: 100%;
  }

  .scrambled-menu:hover .original {
    display: none; 
  }

  .scrambled-menu .update {
    display: none;
  }

  .scrambled-menu:hover .update {
    display: inline-block;
    color: rgba(180, 80, 176, 0.85);
    /* color: #B450B0;
    opacity: 85%; */
  }

  .text {
    grid-area: text-area;
    /* font-size: 1.25rem; */
    font-size: 1.25rem;
    /* border-bottom: lightgray 1px solid; */
    width: 70%;
    /* width: 75%; */
    /* height: 90vh;
    display: flex;
    flex-direction: column; */
  }

  .title {
    background-color: white;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    margin-left: -1%;
    margin-right: -1%;
    border-radius: 7.5px;
    border: lightgray 1px solid;
  }

  #title-text {
    opacity: 0.65;
  }

  .mode {
    float: right;
    cursor: pointer;
    padding-right: 5px;
    opacity: 0.8;
  }

  .mode i:hover {
    opacity: 0.4;
  }

  .footer {
    font-size: 1rem;
    border-top: 1px solid lightgray;
    grid-area: footer;
    /* position: absolute;
    bottom: 0; */
    /* margin-top: 35vh; */
    /* margin-top: 25vh; */
    /* margin-bottom: 4vh; */
    /* justify-content: end;
    align-self: flex-end */
    width: 70%;
  }

  /* .social {
    color: #7C7C81;
    font-size: 1.25rem;
  } */

  footer a {
    text-decoration: none;
    color: #7C7C81;
  }

  footer a:hover {
    opacity: 0.5;
  }

  .footer-social-link {
    text-decoration: underline;
  }

  .footer-wording {
    float: right;
  }

  .branding {
    grid-area: branding-area;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    /* Responsive with min. size of 22px (16px * 1.375). Used to be 26px. 
    font-size: calc(1.375rem + 0.2vw); */
    writing-mode: vertical-rl;
    margin-right: 10%;
  }

  .branding img {
    width: 3vw;
    height: auto;
  }

  .branding span {  
    writing-mode: horizontal-tb;
    text-align: right;
    font-size: 1rem;
    margin-left: -25vw;
    color: #7D8590;
    /* color: #B450B0; */
  }

  .gradient-text {
    color: #B450B0;
    /* background-image: linear-gradient(0deg, fuchsia, #180ACE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  .responsive-header {
    display: none;
  }


/* Start of code added for About section: */

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: justify; */
  }

  .about-introduction {
    text-align: justify;
    font-size: 1rem;
    padding: 1.5vh 0 2vh 0;
  }

  .biography-container {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    border-top: 1px solid lightgray;
    column-gap: 2.5%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }

  .biography-container img {
    width: 100%;
    height: auto;
  }

  .biography-name {
    font-size: 1.2rem;
    text-align: left;
  }

  .biography-text {  
    font-size: 0.9rem;
    /* font-size: 0.8rem; */
    /* font-size: 1rem; */
    align-self: center;   
    margin-left: 1%; 
    /* margin-bottom: 25px; */
    padding: 0 17.5px 0 15px;
    /* padding: 0 10px; */
    /* border-left: 1px solid lightgrey; // not working for dark mode  */
    /* border-top: 1px solid lightgrey; */
    /* border-bottom: 1px solid lightgray;  */
  }

  .biography-text:hover {
    cursor: s-resize;
    margin-right: -17.5vw;
    /* margin-right: -15vw; */
    /* margin-right: -20vw; */
    transition: all 0.5s ease-in;
    text-align: justify;
    /* background: rgba(0, 0, 0, 0.1); // not working for dark mode */  
    /* background: rgba(180, 80, 176, 0.15); */
    /* color: black; */
    padding-top: 1vh;
    border-radius: 1%;
    /* border-radius: 2.5%; */
    border: 2.5px solid #7C7C81;
    /* border: 2px solid rgba(180, 80, 176, 0.85); */
    /* border: 2px solid darkgrey; */
    height: 210px;
    font-size: 1rem;
  }

  .biography-grid-layout {
    grid-template-areas:
    "picture-area   text-area";  
  }

  .picture-grid-placement {
    grid-area: picture-area;
  }

  .text-grid-placement {
    grid-area: text-area;
  }

  /* may be able to move these properties to .biography-text & delete this class */
  .scrollbar {
    float: left;
    height: 200px;
    /* height: 250px; */
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .scrollbar-style::-webkit-scrollbar {
    width: 12px;
    /* width: 8px; */
    /* background-color: #F5F5F5;
    background-color: white; */
  }

  .scrollbar-style::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); */
    background: rgba(255, 255, 255, 0.8);
    /* background: white; */
    /* background-color: #F5F5F5; */
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  .scrollbar-style::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 0 0 6px lightgrey; */
    background: rgba(124, 124, 129, 0.75);
    /* background: rgba(124, 124, 129, 1); */
    /* background: rgba(180, 80, 176, 0.5); */
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 10px; 
  }

/* End of About sections */


/* Responsive design - Tablet: */

  @media screen and (max-width: 992px) {

  html {
    overflow-x: hidden;
  }
  
  .container {
    width: 80%;
  }

  .grid-container {
    width: 100%;
    padding-top: 3vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "text-area"
      "footer";
  }

  .responsive-header {
    width: 92.5%;
    padding-left: 7.5%;
    padding-bottom: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    /* Make header top layer in document:  */
    z-index: 2;
    position: relative;
  }

  .responsive-logo {
    padding-right: 7.5%;
  }

  .burger div {
    width: 25px;
    height: 4px;
    margin: 4px;
    background: #B450B0;
    transition: all 0.3s ease-in;
  }

  .scrambled-menu .update { 
    display: inline-block;
  }

  .scrambled-menu .original { 
    display: none; 
  } 

  .responsive-mode {
    font-size: 1.25rem;
  }

  .responsive-header img {
    height: 4vh;
    width: auto;
  }

  .text {
    width: 90%;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    padding-bottom: 5vh;
  }

  .mode {
    display: none;
  }

/* Start of resposnive code added for About section: */

.biography-container {
  grid-template-columns: 1fr 2fr;
  /* column-gap: 1%; */
}

.biography-text {
  padding: 0;
}

.biography-text:hover {
  cursor: none;
  margin-right: 0;
  transition: none;
  text-align: left;
  padding-top: 0;
  border-radius: 0;
  border: none;
  height: 200px;
  font-size: 0.9rem;
}

.picture-grid-placement {
  align-self: center; 
}

/* End of responsive About sections */

  .branding {
    display: none;
  }

  .footer {
    width: 100%;
    /* justify-content: center; */
    /* display: none; */
  }

  /* .footer-wording {
    float: left;
    display: block;
  }   */

/* Responsive burger menu: */

  .menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #F3F2EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    writing-mode: horizontal-tb;
    font-size: 1.75rem;
    margin-top: -7.5vh;
  }

  .menu a {
    color: rgba(124, 124, 129, 1);
  }

  #active-page {
    border-bottom: 1px solid rgba(180, 80, 176, 1);
    padding-bottom: 1px;
  }

  .menu-blnc-elements {
    display: none;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background: #B450B0;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background: #B450B0;
  }
}

/* Responsive design - Phone: */

  @media screen and (max-width: 576px) {

  html {
    font-size: 14px;
  }

  .container {
    width: 100%;
    margin-top: 4vh;
  }

  .responsive-header img {
    height: 6vh;
  }

  .footer {
    width: 90%;
    margin: auto;
  }

  /* .social {
    font-size: 1.75rem;
  }  */

  .footer-wording {
    /* float: left; */
    padding-top: 1vh;
  }  
}