html {
    background-color: #F3F2EE;
}

html article {
    border: 3px solid green;
}

html div {
    border: 1px solid black;
    background-color: white;
}

/* Mike */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
}

.mike-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "mike-title     mike-title"
    "mike-picture   mike-text";
    column-gap: 2.5%;
    padding-bottom: 2.5%;
    background-color: rgba(180, 80, 176, 0.5);
}

.mike-title {
    grid-area: mike-title;
    text-align: center;
    margin-bottom: 1%;
}

.mike-picture {
    grid-area: mike-picture;
}

.mike-picture img {
    width: 100%;
    height: auto;
}

.mike-text {
    grid-area: mike-text;
}

/* Ash */

.ash-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "ash-title     ash-title"
    "ash-picture   ash-text";
    column-gap: 2.5%;
    padding-bottom: 2.5%;
    background-color: rgba(124, 124, 129, 0.5);
}

.ash-title {
    grid-area: ash-title;
    text-align: center;
    margin-bottom: 1%;
}

.ash-picture {
    grid-area: ash-picture;
}

.ash-picture img {
    width: 100%;
    height: auto;
}

.ash-text {
    grid-area: ash-text;
}

/* Rory */

.rory-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "rory-title     rory-title"
    "rory-picture   rory-text";
    column-gap: 2.5%;
    padding-bottom: 2.5%;
    background-color: rgba(180, 80, 176, 0.5);
}

.rory-title {
    grid-area: rory-title;
    text-align: center;
    margin-bottom: 1%;
}

.rory-picture {
    grid-area: rory-picture;
}

.rory-picture img {
    width: 100%;
    height: auto;
}

.rory-text {
    grid-area: rory-text;
}

/* Christian */

.christian-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "christian-title     christian-title"
    "christian-picture   christian-text";
    column-gap: 2.5%;
    padding-bottom: 2.5%;
    background-color: rgba(124, 124, 129, 0.5);
}

.christian-title {
    grid-area: christian-title;
    text-align: center;
    margin-bottom: 1%;
}

.christian-picture {
    grid-area: christian-picture;
}

.christian-picture img {
    width: 100%;
    height: auto;
}

.christian-text {
    grid-area: christian-text;
}

/* Tim */

.tim-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "tim-title     tim-title"
    "tim-picture   tim-text";
    column-gap: 2.5%;
    padding-bottom: 2.5%;
    background-color: rgba(180, 80, 176, 0.5);
}

.tim-title {
    grid-area: tim-title;
    text-align: center;
    margin-bottom: 1%;
}

.tim-picture {
    grid-area: tim-picture;
}

.tim-picture img {
    width: 100%;
    height: auto;
}

.tim-text {
    grid-area: tim-text;
}

/* Tim2 */

.tim2-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "tim2-title     tim2-title"
    "tim2-picture   tim2-text";
    column-gap: 2.5%;
    padding-bottom: 2.5%;
    background-color: rgba(180, 80, 176, 0.5);
}

.tim2-title {
    grid-area: tim2-title;
    text-align: center;
    margin-bottom: 1%;
}

.tim2-picture {
    grid-area: tim2-picture;
}

.tim2-picture img {
    width: 100%;
    height: auto;
}

.tim2-text {
    grid-area: tim2-text;
}