html {
    background-color: red;

    /* HOW DO I USE THIS. Opacity built into rgba, picture in background:
    background: transparent url (something.png);
    background-color: rgba (0, 0, 0, 0.5) none; */
}

/* ==========
flex 
========== */

.flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    /* flex: 1; */
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
  }

  #box1 {
    width: 10%;
    background-color: yellow;
  }

  #box2 {
    width: 40%;
    background-color: aqua;
    /* you can achieve the layout with flexbox but it's hacky and obscure. */
    margin-right: auto;
    margin-left: 5%;
  }

  #box3 {
    width: 10%;
    background-color: hotpink;
  }

  /* ==========
  grid 
  =============*/
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  .item {
    background-color: lightblue;
    padding: 10px;
  }
  
  #grid2 {
    margin: 0 20% 0 20%;
  }
