/* ___________________________________
   Variables & container: */

  :root {
    /* Colours: */
    --pink: #B450B0;
    --pink-20: rgba(180, 80, 176, 0.2);
    --pink-70: rgba(180, 80, 176, 0.7);
    --blue: #7289DA;
    --blue-20: rgba(114, 137, 218, 0.2);    
    --blue-70: color: rgba(114, 137, 218, 0.7);
    --black: black;
    --black-07: rgba(1, 1, 1, 0.075);
    --black-80: rgba(1, 1, 1, 0.8);
    /* Fonts: */
    --san-serif: helvetica;
    --serif: palatino;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    --monospace: 'Courier New', Courier, monospace;
    /* Borders: */
    --borders-black: 1px solid black;
    --borders-grey: 1px solid gray;
   }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  /* margin: 0 auto;
  width: 100%;
  max-width: 1500px; */
  background-color: var(--black-07); 
  font-size: 16px;
  overflow: hidden;
}

/* ___________________________________
   Main contents and navigation: */

   .responsive-header {
    display: none;
  }

   .grid-container {
    display: grid;
    /* Can I make this layout more explicit: */
    grid-template-columns: auto 10fr;
    grid-template-rows: auto 10fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    "border-area   menu        menu"
    "border-area   main-text   branding"
    "footer        footer      branding";
  }
  
  .menu {
    grid-area: menu;
    /* font-size: 1.15rem; */
    border-bottom: var(--borders-black);
    background-color: var(--pink-20);
    text-align: right;
    padding: 8px 0px 10px 10px; /* Same vertical padding as .menu-link */
    /* padding: 8px 0px 10px 0px; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
  }
  
  .menu-link {
    border-left: var(--borders-black);
    padding: 8px 6.8vw 10px 6.8vw;
    /* padding: 8px 115px 10px 115px; */
    /* padding: 8px 5vw 10px 5vw; */
    /* padding: 8px 15px 10px 15px; */
    text-decoration: none;
    font-size: 1.65rem;
    /* font-size: 1.05rem; */
    /* font-size: 1.7rem; */
    font-weight: bold;
    color: var(--black-80);
    /* color: var(--black); */
    font-family: var(--san-serif);
  }

  /* CHAT GPT'S SOLUTION TO MENU PROBLEM, PRETTY GOOD. I THINK I JUST WANT DYNAMIC PADDING THOUGH

  .menu {
    grid-area: menu;
    font-size: 1.15rem;
    border-bottom: var(--borders-black);
    background-color: var(--pink-20);
    text-align: right;
    padding: 8px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .menu-link {
    padding: 8px 6.8vw 10px 6.8vw;
    text-decoration: none;
    font-size: 1.65rem;
    font-weight: bold;
    color: var(--black-80);
    font-family: var(--san-serif);
  }

  END */
  
  #active-page {
    background-color: var(--pink-70);
  }

  .branding {
    grid-area: branding;
    background-color: var(--pink-20);
    display: flex;
    border-left: var(--borders-black);
  }

  .social {
    font-size: 1.5rem;
    border-top: var(--borders-grey);
    padding: 20px 31px 18px 31px;
    /* padding: 20px 5px 18px 5px; */
    align-self: end;
    /* width: 40px; */ /* Maybe inherit width from #active-page. Put this div in html in branding section: <div class="menu-link"></div> */
  }

  .social a {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-decoration: none;
    color: var(--black);
    font-family: var(--monospace);
  }

  .border-area {
    grid-area: border-area;
    width: 60px;
    /* width: 30px; */
    background-color: var(--blue-20);
    border-right: var(--borders-grey);
    
  }
  
  .footer {
    grid-area: footer;
    height: 40px;
    background-color: var(--blue-20);
    border-top: var(--borders-grey);
    /* z-index: 4;
    position: relative; */
  }

  /* __________________________________
   New code - Contact page: */

   .main-text {
    grid-area: main-text;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 70px; */
    /* background-color: var(--pink-20); */
    /* background-color: var(--pink-70); */
    /* background-color: #7289DA; */
    /* background-color: #B450B0; */
    font-family: var(--serif);
    color: var(--black-80);
    width: 100%;
    grid-template-areas:
    /* PROBLEM HERE, get columns down to 1: */
    "contact-blurb          contact-blurb"
    "contact-feature-text   contact-feature-text";
    /* z-index: -1;
    position: relative; */
  }

  .contact-blurb {
    grid-area: contact-blurb;
    font-size: 4rem;
    margin: 50px 0 0 50px;
    padding: 0 10% 5% 10%;
    align-self: flex-end;
    height: fit-content;
  }

  .contact-blurb-feature-01 {
    font-family: var(--monospace);
    background-color: var(--pink-20);
    /* background-color: rgb(255, 220, 255); */
    padding: 20px;
    border: 1px solid gray;
    font-size: 4.5rem;
  }

  .contact-blurb-feature-02 {
    font-family: var(--monospace);
    background-color: var(--blue-20);
    padding: 20px;
    border: 1px solid gray;
    font-size: 3rem;
  }

  .contact-feature-text {
    grid-area: contact-feature-text;
    text-align: center;
    font-size: 12rem;
    opacity: 0.25;
    margin: 130px 0 -900px 0;
    /* margin: 220px 0 -220px 0; */
    text-shadow:
      3px 3px 0 black, /* bottom-right */
      -1px -1px 0 black, /* top-left */
      1px -1px 0 black, /* top-right: */
      -1px 1px 0 black; /* bottom-left: */
    color: white;
    /* color: rgba(180, 80, 176, 1); */
    /* font-weight: bold; */
   }

/* __________________________________
   Responsive design - Tablet: */

   @media screen and (max-width: 992px) {
   
    html {
      /* font-size in container?? */
    }
  
    .menu {
      padding: 5px 0px 5px 0px; /* Same vertical padding as .menu-link */
    }

    .menu-link {
      padding: 5px 4.8vw 5px 4.8vw;
      font-size: 1.2rem;
    }

    .social {
      font-size: 1rem;
      padding: 20px 7px 18px 7px;
    }

    .border-area {
      width: 30px;
    }

    .footer {
      height: 20px;
    }
  }

/* _________________________________
   Responsive design - Phone: */

   @media screen and (max-width: 576px) {

    html {
      height: 100vh; /* CHECK ME */
    }

    .container {
      font-size: 14px;
      /* CHECK ME: */
      overflow: auto;
      width: 100vw;
      height: 100vh; /* CHECK ME */
    }

    .grid-container {
       /* CHECK ME: */
      width: 50vw;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      /* END  */
      height: fit-content; /* CHECK ME */
      grid-template-areas:
      "menu"
      "main-text"
      "branding";
      /* "border-area   main-text   footer" */
      height: 100%; /* CHECK ME */
    }

    .branding {
      background-color: var(--blue-20);
    }

    .social a {
      writing-mode: horizontal-tb;
    }

    .border-area {
      /* width: 5px;
      border: none; */
      display: none;
    }

    .footer {
      /* width: 5px;
      border: none;
      height: 100%; */
      display: none;
    }

  /* __________________________________
    New code - Contact page, responsive Phone: CHANGE TITLE */

    .main-text {
      /* CHECK ME: */
      grid-area: main-text;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0 10px;
      height: 100%; /* CHECK ME */
      /* height: 100vh; */
      align-content: center; 
      box-sizing: border-box;
      /* END */
      /* font-size: 1rem; */
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      /* width: 50vw; */
      grid-template-areas:
      "contact-blurb";
      color: purple;
      color: green;
      color: red;
      color: #B450B0;
      /* margin: 0;
      padding: 0; */
    }

    .contact-blurb {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      /* border: 1px solid blue; */
      /* height: fit-content; */
      /* align-self: flex-start; */
      /* CHECK ME: */
      /* margin: 10px 0;  */
      width: 100%;
      text-align: center;
    }

    .contact-blurb-feature-01 {
      font-size: 2rem;
    }

    .contact-blurb-feature-02 {
      font-size: 2rem;
    }

    .contact-feature-text {
      display: none;
    }

/* ____________________
   Burger menu: (CHECK ME) */

   .responsive-header {
    width: 92.5%;
    padding-left: 7.5%;
    padding-bottom: 1.5vh;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    border-bottom: var(--borders-grey);
    z-index: 2; /* Make header top layer in document */
    position: relative;
    /* background-color: var(--black-07); */
  }

  .burger div {
    width: 25px;
    height: 4px;
    margin: 4px;
    /* background-color: var(--pink-70); */
    /* background: lightgray;  */
    border: 1px solid var(--pink-70);
    transition: all 0.3s ease-in;
    box-sizing: border-box;
    /* PUT THE MENU TO THE LEFT using flexbox: */
    /* margin-left: 470px; */
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .menu {
    position: fixed;
    right: 0;
    top: 0;
    text-align: left;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: 3rem;
    /* font-size: 1.75rem; */
    background-color: lightgray;
    /* background-color: var(--black-07); */
    /* background-color: #01010113; */
    padding: 15vh 0 0 0;
  }

  .menu-link {
    border-left: none;
    padding: 0 0 0 20vw;
    /* PUT INTO ROOT IF YOU USE THIS COLOUR: */
    color: rgba(124, 124, 129, 1);
  }

  .menu-link::first-letter {
    text-transform: uppercase;
  }

  #active-page {
    /* FIX ME: */
    background-color: lightgray;
  }

  #last-menu-item {
    border-bottom: 0.5px solid var(--black-80);
    padding-bottom: 20vh;
  }

  /* Activate via javascript: */
  .nav-active {
    transform: translateX(0%);
  }   

}

/* DO ME:: */
/* 4. Finish responsive menu/html (see Sketch for Design)
/* 5. Check "boilerplate" code to ensure you can copy across site && make final decisions. */
 
/*  
  gradient text:
    background: linear-gradient(to right, #B450B0, #7289DA);
    -webkit-background-clip: text; [for Safari/Chrome]
    color: transparent;
*/

/* this is not on index.css but IS in index.html (i.e., delete from html)
  #title-text {
    opacity: 0.65;
  } */