/* ___________________________________
   Variables & container: */

  :root {
    /* Colours: */
    --pink: #B450B0;
    --pink-20: rgba(180, 80, 176, 0.2);
    --pink-70: rgba(180, 80, 176, 0.7);
    --blue: #7289DA;
    --blue-20: rgba(114, 137, 218, 0.2);    
    --blue-70: color: rgba(114, 137, 218, 0.7);
    --black: black;
    --black-07: rgba(1, 1, 1, 0.075);
    --black-80: rgba(1, 1, 1, 0.8);
    /* Fonts: */
    --san-serif: helvetica;
    --serif: palatino;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    --monospace: 'Courier New', Courier, monospace;
    /* Borders: */
    --borders-black: 1px solid black;
    --borders-grey: 1px solid gray;
   }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  /* margin: 0 auto;
  width: 100%;
  max-width: 1500px; */
  background-color: var(--black-07); 
  font-size: 16px;
}

/* ___________________________________
   Main contents and navigation: */

   .grid-container {
    display: grid;
    /* Can I make this layout more explicit: */
    grid-template-columns: auto 10fr;
    grid-template-rows: auto 10fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    "border-area   menu        menu"
    "border-area   main-text   branding"
    "footer        footer      branding";
  }
  
  .menu {
    grid-area: menu;
    /* font-size: 1.15rem; */
    border-bottom: var(--borders-black);
    background-color: var(--pink-20);
    text-align: right;
    padding: 8px 0px 10px 10px; /* Same vertical padding as .menu-link */
    /* padding: 8px 0px 10px 0px; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
  }
  
  .menu-link {
    border-left: var(--borders-black);
    padding: 8px 6.8vw 10px 6.8vw;
    /* padding: 8px 115px 10px 115px; */
    /* padding: 8px 5vw 10px 5vw; */
    /* padding: 8px 15px 10px 15px; */
    text-decoration: none;
    font-size: 1.65rem;
    /* font-size: 1.05rem; */
    /* font-size: 1.7rem; */
    font-weight: bold;
    color: var(--black-80);
    /* color: var(--black); */
    font-family: var(--san-serif);
  }

  /* CHAT GPT'S SOLUTION TO MENU PROBLEM, PRETTY GOOD. I THINK I JUST WANT DYNAMIC PADDING THOUGH

  .menu {
    grid-area: menu;
    font-size: 1.15rem;
    border-bottom: var(--borders-black);
    background-color: var(--pink-20);
    text-align: right;
    padding: 8px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .menu-link {
    padding: 8px 6.8vw 10px 6.8vw;
    text-decoration: none;
    font-size: 1.65rem;
    font-weight: bold;
    color: var(--black-80);
    font-family: var(--san-serif);
  }

  END */
  
  #active-page {
    background-color: var(--pink-70);
  }

  .branding {
    grid-area: branding;
    background-color: var(--pink-20);
    display: flex;
    border-left: var(--borders-black);
  }

  .social {
    font-size: 1.5rem;
    border-top: var(--borders-grey);
    padding: 20px 31px 18px 31px;
    /* padding: 20px 5px 18px 5px; */
    align-self: end;
    /* width: 40px; */ /* Maybe inherit width from #active-page. Put this div in html in branding section: <div class="menu-link"></div> */
  }

  .social a {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-decoration: none;
    color: var(--black);
    font-family: var(--monospace);
  }

  .border-area {
    grid-area: border-area;
    width: 60px;
    /* width: 30px; */
    background-color: var(--blue-20);
    border-right: var(--borders-grey);
    
  }
  
  .footer {
    grid-area: footer;
    height: 40px;
    background-color: var(--blue-20);
    border-top: var(--borders-grey);
  }

  /* __________________________________
   New code - About page: */

   .main-text {
    grid-area: main-text;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 70px; */
    /* align-items: center; */
    font-size: 6rem;
    font-family: var(--serif);
    width: 65%;
    color: var(--black)
  }

  .biography-name {
    /* width: 75%;
    padding: 5% 0 0 12.5%; */
    font-size: 3rem;
    /* font-size: 6rem; */
    padding: 5% 0;
    /* padding-right: 20%; */
    margin-top: -10.5%;
    padding-left: 55%;
    width: auto; /* Adjust to fit content */
    text-align: left;
    text-align: center;
    margin-right: 100px;
    margin-bottom: 75px;
    align-self: center;
    justify-self: end;
    /* opacity: .4;
    opacity: .15; */
    opacity: 0.75;
    /* border-left: 1px solid black; */
    /* text outlined:   */
      /* font-weight: bold; */
      color: white; /* Text color inside the outline */
      /* color: rgba(180, 80, 176, 1); */
      text-shadow: 
      /* Bottom-right shadow: */
      3px 3px 0 black, 
      /* Top-left shadow: */
      -1px -1px 0 black,
      /* Top-right shadow: */
      1px -1px 0 black,
      /* Bottom-left shadow: */
      -1px 1px 0 black; 
    text-shadow: none;
    color: black;
   /* TEXT OUTLINED:  
            color: white; /* Text color inside the outline */
            /* color: rgba(1, 1, 1, 0.005); */
            /* text-shadow:  */
              /* Bottom-right shadow: */
              /* 1px 1px 0 black,   */
              /* Top-left shadow: */
              /* -1px -1px 0 black,  */
              /* Top-right shadow: */
              /* 1px -1px 0 black,  */
              /* Bottom-left shadow: */
              /* -1px 1px 0 black;  */
  }

  .name:hover {
    /* background: linear-gradient(to right, #B450B0, #7289DA); */
    /* -webkit-background-clip: text;   for Safari/Chrome  */
    /* color: transparent; */
    color: #B450B0; 
    cursor: grab;
    opacity: 1;
    font-weight: lighter;
    text-shadow: none;
  }

  .name-feature {
    color:#B450B0;
    color: #7289DA;
  }

  .plastic-words-about {
    /* font-size: 2.27rem; */
    /* font-size: 2rem; */
    font-size: 1.35rem;
    /* font-family: monospace; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 10% 0px 0px 10%;
    /* width: 50%; */
    /* text-align: right; */
    text-align: left;
    width: auto; /* Adjust to fit content */
    width: 70%;
    margin-right: -20%;
  }

  .plastic-words-about-feature {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(180, 80, 176, 0.25);
    /* background-color: rgba(114, 137, 218, 0.27); */
    /* background-color: rgba(114, 137, 218, 0.7); */
    /* background-color: rgba(180, 80, 176, 0.7); */
  }

/* __________________________________
   Responsive design - Tablet: */

   @media screen and (max-width: 992px) {
   
    html {
      /* font-size in container?? */
    }
  
    .menu {
      padding: 5px 0px 5px 0px; /* Same vertical padding as .menu-link */
    }

    .menu-link {
      padding: 5px 4.8vw 5px 4.8vw;
      font-size: 1.2rem;
    }

    .social {
      font-size: 1rem;
      padding: 20px 7px 18px 7px;
    }

    .border-area {
      width: 30px;
    }

    .footer {
      height: 20px;
    }
  }

/* ____________________
   Burger menu: */

/* _________________________________
   Responsive design - Phone: */

   @media screen and (max-width: 576px) {

    .container {
      font-size: 14px;
    }

   }


/* DO ME:::: */
/* 4. Continue responsive menu/html (see Sketch for Design) 
      -- NOTE: probably work on the contact page as "template" cos easier to test */
/* 5. Check "boilerplate" code to ensure you can copy across site && make final decisions. */
 
/*  
  gradient text:
    background: linear-gradient(to right, #B450B0, #7289DA);
    -webkit-background-clip: text; [for Safari/Chrome]
    color: transparent;
*/