/* ___________________________________
   Variables & container: */

  :root {
    --pink: #B450B0;
    --pink-20: rgba(180, 80, 176, 0.2);
    --pink-70: rgba(180, 80, 176, 0.7);
    --blue: #7289DA;
    --blue-20: rgba(114, 137, 218, 0.2);    
    --blue-70: color: rgba(114, 137, 218, 0.7);
    --black: black;
    --black-07: rgba(1, 1, 1, 0.075);
    --black-80: rgba(1, 1, 1, 0.8);
    /* BORDERS, ??font-size?? */
    --san-serif: helvetica;
    --serif: palatino;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    --monospace: 'Courier New', Courier, monospace;
   }

html {
    background-color: var(--black-07);
    font-family: var(--san-serif);
    font-size: 12px;
    padding: 0;
    margin: 0;
}

/* ___________________________________
   Main contents and navigation: */

   .grid-container {
    display: grid;
    grid-template-columns: auto 10fr;
    grid-template-rows: auto 10fr;
    /* Move h/w to main container: */
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    "border-area   menu       branding"
    "border-area   text       branding"
    "footer        footer     branding";
    /* FIX ME: */
    margin: -10px;
    
  }
  
  .menu {
    grid-area: menu;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    text-align: right;
    padding: 9px 0 9px 0;
    margin: 0;
    background-color: var(--pink-20);
  }

  .menu-link {
    border-left: 1px solid black;
    height: 100%;
    float: left;
    float: right;
    padding: 0px 15px 0px 15px;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Optional: centers content horizontally */
    text-align: center; /* Ensures text alignment inside the flex container */
    color: var(--black);
    color: var(--black-80);
    text-decoration: none;
    font-size: 2.2rem;
    /* font-size: 2.5rem; */
    font-weight: bold;
    /* DO I NEED cursor:? */
    cursor: pointer; 
  }

  .main-text {
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start; /* Align items at the top */
    font-size: 8rem;
    font-family: var(--serif);
    text-align: center;
    width: 65%;
    /* width: 70%; */
    padding-top: 2%;
  }

  .branding {
    grid-area: branding;
    background-color: var(--pink-20);
    display: flex;
    justify-content: space-between;
    border-left: 1px solid black;
  }

  #active-page {
    height: fit-content;
    padding: 8px 10px 10px 10px;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Optional: centers content horizontally */
    /* NOT SURE IF NEED THIS alignment: */
    text-align: center; /* Ensures text alignment inside the flex container */
    border-bottom: 1px solid gray;
    color: var(--black-80);
    background-color: var(--pink-70);
    /* PUT NO DECORATION & text styling ONTO MENU LINKS A */
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: bold;
  }

  .social {
    /* font-size: 2rem;
    font-size: 1.5rem; */
    font-size: 2rem;
    padding: 18px 31px 18px 31px;
    margin: 2px 0 -2px 0;
    /* GAP ON RIGHT FROM this margin: */
    margin-left: -90px;
    height: fit-content;
    font-family: var(--monospace);
    justify-self: flex-start;
    align-self: end;
    border-top: 1px solid gray;
  }

  .social a {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-decoration: none;
    color: var(--black);
  }

  .border-area {
    grid-area: border-area;
    width: 60px;
    background-color: var(--blue-20);
    border-right: 1px solid gray;
    
  }
  
  .footer {
    grid-area: footer;
    height: 40px;
    background-color: var(--blue-20);
    /* border-top: var(--borders); */
    border-top: 1px solid gray;
  }

/* __________________________________
   New code for About page: */

  .biography-name {
    /* width: 75%;
    padding: 5% 0 0 12.5%; */
    font-size: 4rem;
    /* font-size: 6rem; */
    padding: 5% 0;
    /* padding-right: 20%; */
    margin-top: -10.5%;
    padding-left: 55%;
    width: auto; /* Adjust to fit content */
    text-align: left;
    text-align: center;
    margin-right: 100px;
    margin-bottom: 75px;
    align-self: center;
    justify-self: end;
    /* opacity: .4;
    opacity: .15; */
    opacity: 0.75;
    /* border-left: 1px solid black; */
    /* text outlined:   */
      /* font-weight: bold; */
      color: white; /* Text color inside the outline */
      /* color: rgba(180, 80, 176, 1); */
      text-shadow: 
      /* Bottom-right shadow: */
      3px 3px 0 black, 
      /* Top-left shadow: */
      -1px -1px 0 black,
      /* Top-right shadow: */
      1px -1px 0 black,
      /* Bottom-left shadow: */
      -1px 1px 0 black; 
    text-shadow: none;
    color: black;
   /* TEXT OUTLINED:  
            color: white; /* Text color inside the outline */
            /* color: rgba(1, 1, 1, 0.005); */
            /* text-shadow:  */
              /* Bottom-right shadow: */
              /* 1px 1px 0 black,   */
              /* Top-left shadow: */
              /* -1px -1px 0 black,  */
              /* Top-right shadow: */
              /* 1px -1px 0 black,  */
              /* Bottom-left shadow: */
              /* -1px 1px 0 black;  */
  }

  .name:hover {
    /* background: linear-gradient(to right, #B450B0, #7289DA); */
    /* -webkit-background-clip: text;   for Safari/Chrome  */
    /* color: transparent; */
    color: #B450B0; 
    cursor: grab;
    opacity: 1;
    font-weight: lighter;
    text-shadow: none;
  }

  .name-feature {
    color:#B450B0;
    color: #7289DA;
  }

  .plastic-words-about {
    /* font-size: 2.27rem; */
    /* font-size: 2rem; */
    font-size: 1.8rem;
    /* font-family: monospace; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 10% 0px 0px 10%;
    /* width: 50%; */
    /* text-align: right; */
    text-align: left;
    width: auto; /* Adjust to fit content */
    width: 70%;
    margin-right: -20%;
  }

  .plastic-words-about-feature {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(180, 80, 176, 0.25);
    /* background-color: rgba(114, 137, 218, 0.27); */
    /* background-color: rgba(114, 137, 218, 0.7); */
    /* background-color: rgba(180, 80, 176, 0.7); */
  }
   

/* __________________________________
   Responsive design - Tablet: */

/* ____________________
   Burger menu: */

/* _________________________________
   Responsive design - Phone: */

  
  
  
   /* DELETE BELOW: */

   1. Push to github
   2. delete list .below
   3. delete all green (or most)
   4. clean up padding and make final decisions (There's only ten of them)
   5. Check variables at top
      6. Push to github again
  7... Do responsive menu/html
   
  
   /*  
    color: rgba(180, 80, 176, 0.1);

    color: white;
    color: bisque;
    color: lightgray;
    color: whitesmoke;
    
    color: rgba(114, 137, 218, 0.1);
    color: rgba(114, 137, 218, 0.3);
    
    color: rgba(1, 1, 1, 0.001);
    color: rgba(1, 1, 1, 0.25);
    color: rgba(1, 1, 1, 0.1);
    color: rgba(1, 1, 1, 0.05);
    color: rgba(100, 1, 1, 0.1);
    
    #0D1117;

    .test-2
    .last
    .social-area
    
    

    padding-top: 88vh;
    width: 70%;
    margin-top: 5vh;
    gap: 70px;
    margin-left: 10%;
    grid-gap: 10px;
    float: left;

    border-left: 1px solid black;
    display: inline;
    display: block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    grid-area: social-area;

    ------------
    gradient text:
      background: linear-gradient(to right, #B450B0, #7289DA);
      -webkit-background-clip: text; [for Safari/Chrome]
      color: transparent;

    ----------
    "menu-area text-area branding-area"
    "...       footer    ...";
    ----------
    "branding-area   menu-area   area1"
    "branding-area   text-area   area1"
    "branding-area   footer      area1";

  */




  

  