/* ___________________________________
   Variables & container: */

  :root {
    /* Colours: */
    --pink: #B450B0;
    --pink-20: rgba(180, 80, 176, 0.2);
    --pink-70: rgba(180, 80, 176, 0.7);
    --blue: #7289DA;
    --blue-20: rgba(114, 137, 218, 0.2);    
    --blue-70: color: rgba(114, 137, 218, 0.7);
    --black: black;
    --black-07: rgba(1, 1, 1, 0.075);
    --black-80: rgba(1, 1, 1, 0.8);
    /* Fonts: */
    --san-serif: helvetica;
    --serif: palatino;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    --monospace: 'Courier New', Courier, monospace;
    /* Borders: */
    --borders-black: 1px solid black;
    --borders-grey: 1px solid gray;
   }

html {
    background-color: var(--black-07);   
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
  /* These layout margins are causing problems: */
  /* margin: 0 auto;
  width: 100%;
  max-width: 1500px; */
  /* margin-top: 5vh; */
  font-family: var(--san-serif);
  /* color: var(--text-color); */
}

/* ___________________________________
   Main contents and navigation: */

   .grid-container {
    display: grid;
    grid-template-columns: auto 10fr;
    grid-template-rows: auto 10fr;
    /* Move h/w to main container: */
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    "border-area   menu        menu"
    "border-area   main-text   branding"
    "footer        footer      branding";
    /* FIX ME: */
    margin: -10px;
  }
  
  .menu {
    grid-area: menu;
    font-size: 1.15rem;
    border-bottom: var(--borders-black);
    padding: 9px 0 9px 0;
    margin: 0;
    background-color: var(--pink-20);
  }

  .menu-link {
    border-left: var(--borders-black);
    height: 100%;
    /* Can I get ride of this float: */
    float: right;
    padding: 0px 15px 0px 15px;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Optional: centers content horizontally */
    text-align: center; /* Ensures text alignment inside the flex container */
    color: var(--black-80);
    /* color: var(--black); */
    text-decoration: none;
    font-size: 1.65rem;
    /* font-size: 2.5rem; */
    font-weight: bold;
  }

  #active-page {
    height: fit-content;
    padding: 8px 10px 10px 10px;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Optional: centers content horizontally */
    /* NOT SURE IF NEED THIS alignment: */
    text-align: center; /* Ensures text alignment inside the flex container */
    border-bottom: var(--borders-grey);
    color: var(--black-80);
    background-color: var(--pink-70);
    /* PUT NO DECORATION & text styling ONTO MENU LINKS A */
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .main-text {
    grid-area: main-text;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 70px; */
    align-items: start; /* Align items at the top */
    font-size: 6rem;
    font-family: var(--serif);
    text-align: center;
    width: 65%;
    padding-top: 2%;
  }

  .branding {
    grid-area: branding;
    background-color: var(--pink-20);
    display: flex;
    justify-content: space-between;
    border-left: var(--borders-black);
  }

  .social {
    font-size: 1.5rem;
    font-family: var(--monospace);
    border-top: var(--borders-grey);
    /* layout */
    padding: 18px 31px 18px 31px;
    margin: 2px 0 -2px 0;
    height: fit-content;
    justify-self: flex-start;
    align-self: end;
  }

  .social a {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-decoration: none;
    color: var(--black);
  }

  .border-area {
    grid-area: border-area;
    width: 60px;
    background-color: var(--blue-20);
    border-right: var(--borders-grey);
    
  }
  
  .footer {
    grid-area: footer;
    height: 40px;
    background-color: var(--blue-20);
    border-top: var(--borders-grey);
  }

/* __________________________________
   New code for About page: */

  .biography-name {
    /* width: 75%;
    padding: 5% 0 0 12.5%; */
    font-size: 3rem;
    /* font-size: 6rem; */
    padding: 5% 0;
    /* padding-right: 20%; */
    margin-top: -10.5%;
    padding-left: 55%;
    width: auto; /* Adjust to fit content */
    text-align: left;
    text-align: center;
    margin-right: 100px;
    margin-bottom: 75px;
    align-self: center;
    justify-self: end;
    /* opacity: .4;
    opacity: .15; */
    opacity: 0.75;
    /* border-left: 1px solid black; */
    /* text outlined:   */
      /* font-weight: bold; */
      color: white; /* Text color inside the outline */
      /* color: rgba(180, 80, 176, 1); */
      text-shadow: 
      /* Bottom-right shadow: */
      3px 3px 0 black, 
      /* Top-left shadow: */
      -1px -1px 0 black,
      /* Top-right shadow: */
      1px -1px 0 black,
      /* Bottom-left shadow: */
      -1px 1px 0 black; 
    text-shadow: none;
    color: black;
   /* TEXT OUTLINED:  
            color: white; /* Text color inside the outline */
            /* color: rgba(1, 1, 1, 0.005); */
            /* text-shadow:  */
              /* Bottom-right shadow: */
              /* 1px 1px 0 black,   */
              /* Top-left shadow: */
              /* -1px -1px 0 black,  */
              /* Top-right shadow: */
              /* 1px -1px 0 black,  */
              /* Bottom-left shadow: */
              /* -1px 1px 0 black;  */
  }

  .name:hover {
    /* background: linear-gradient(to right, #B450B0, #7289DA); */
    /* -webkit-background-clip: text;   for Safari/Chrome  */
    /* color: transparent; */
    color: #B450B0; 
    cursor: grab;
    opacity: 1;
    font-weight: lighter;
    text-shadow: none;
  }

  .name-feature {
    color:#B450B0;
    color: #7289DA;
  }

  .plastic-words-about {
    /* font-size: 2.27rem; */
    /* font-size: 2rem; */
    font-size: 1.35rem;
    /* font-family: monospace; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 10% 0px 0px 10%;
    /* width: 50%; */
    /* text-align: right; */
    text-align: left;
    width: auto; /* Adjust to fit content */
    width: 70%;
    margin-right: -20%;
  }

  .plastic-words-about-feature {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(180, 80, 176, 0.25);
    /* background-color: rgba(114, 137, 218, 0.27); */
    /* background-color: rgba(114, 137, 218, 0.7); */
    /* background-color: rgba(180, 80, 176, 0.7); */
  }

/* __________________________________
   Responsive design - Tablet: */

/* ____________________
   Burger menu: */

/* _________________________________
   Responsive design - Phone: */

/* DO ME:::: */
   /* 1. delete all green (or most)
   2. clean up padding/margins/sizing and make final decisions (There's only ten of them)
      3. Push to github again
  4. Do responsive menu/html */
   
  
  /*  
    gradient text:
      background: linear-gradient(to right, #B450B0, #7289DA);
      -webkit-background-clip: text; [for Safari/Chrome]
      color: transparent;
  */




  

  